<!-- Load CSS -->
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'grocerylist/style.css'%}">

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Grocery List</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
</head>
<body>
  <div class="title_logo">
    <h1>Grocery List</h1>
  </div>

  <div class="add_item">
    <h2>Add Item</h2>
    <form action="{% url 'app_grocerylist:add' %}" method="post">
      {% csrf_token %}
      <input type="text" name="add_item" value="">
      <button type="submit" name="button_submit"><i class="fas fa-plus"></i></button>
    </form>
  </div>
  {% if item_list %}
  <h2>Incomplete</h2>
  <table>
    <!-- Headers -->
    <tr>
      <th></th>
      <th id="table_head">Item</th>
      <th id="table_head">Created Date</th>
      <th></th>
    </tr>
    <!-- list incomplete items -->
    {% for item in item_list %}
      {% if item.completed == False %}
      <tr>
        <td>
          <form class="form_icon" action="{% url 'app_grocerylist:update' item.id %}" method="post">
            {% csrf_token %}
            <button type="submit" name="status"><i class="fas fa-check"></i></button>
          </form>
        </td>
        <td>{{ item.item_text }}</td>
        <td>{{ item.created_date }}</td>
        <td>
          <form class="form_icon" action="{% url 'app_grocerylist:delete' item.id %}" method="post">
            {% csrf_token %}
            <button type="submit" name="button_delete" class="button_delete"><i class="fas fa-trash"></i></button>
          </form>
        </td>
      </tr>
      {% endif %}
    {% endfor %}
  </table>
  <h2>Completed</h2>
    <table>
      <!-- Headers -->
      <tr>
        <td></td>
        <th id="table_head">Item</th>
        <th id="table_head">Created Date</th>
        <th id="table_head">Completed Date</th>
        <th></th>
      </tr>
      <!-- List Completed Items -->
      {% for item in item_list %}
        {% if item.completed == True %}
        <tr>
          <td>
            <form class="form_icon" action="{% url 'app_grocerylist:update' item.id %}" method="post">
              {% csrf_token %}
              <button type="submit" name="status"><i class="fas fa-undo-alt"></i></button>
            </form>
          </td>
          <td>{{ item.item_text }}</td>
          <td>{{ item.created_date }}</td>
          <td>{{ item.completed_date }}</td>
          <td>
            <form class="form_icon" action="{% url 'app_grocerylist:delete' item.id %}" method="post">
              {% csrf_token %}
              <button type="submit" name="button_delete" class="button_delete"><i class="fas fa-trash"></i></button>
            </form>
          </td>
        </tr>
        {% endif %}
      {% endfor %}
    </table>
  {% endif %}
</body>
</html>
