<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>title</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div id="app">
      <button @click="loadQuote">Get a Quote</button>
      <div v-if="Object.keys(quoteResponse).length">
        <p>{{quoteResponse.quote.body}}</p>
        <p><i><a :href="quoteResponse.quote.url">{{quoteResponse.quote.author}}</a></i></p> 
      </div>
      <button @click="loadAuthor">Mark Twain</button>
      <div v-if="Object.keys(authorResponse).length">
      <p>{{authorResponse.quote.body}}</p>
      <p><i><a :href="authorResponse.quote.url">{{authorResponse.quote.author}}</a></i></p>
      </div> 
    </div>
    <!-- CDN for vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- CDN for axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- load secrets before app -->
    <script src="secrets.js"></script>
    <script src="app.js"></script>
  </body>
</html>