{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener Official</title>

</head>

<body>

    <p>INSTRUCTIONS: Enter a complete url including the http. For example, to visit Google, enter http://google.com.</p>

    <form method="post" action="{% url 'index' %}">
        {% csrf_token %}
        <label for="site">URL to be shortened here: </label>
        <input type="text" name="site" id="site" placeholder="Enter your URL here">
        <input type="submit" value="Shorten" onclick='reveal' id='btn'>
    </form>

    <h3>You entered the following URL:</h3>
    {% if site == None %}
    <p>You have not entered a URL yet.</p>
    {% else %}
    <p>{{ site }}</p>
    {% endif %}

    <h3>Here is your shortened URL code:</h3>
    <p>{{ code }}</p>

<br>
    <form method="post" action="{% url 'redirect' %}">
        {% csrf_token %}
        <label for="redirect">Enter your code here to be redirected: </label>
        <input type="text" name="code" id="code" placeholder="Enter your code here">
        <input type="submit" value="Redirect Me">
    </form>

</body>

</html>