* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-1 {
    width: 8.33%;
}

.col-1_2 {
    width: 9.996%
}

.col-1_5 {
    width: 12.495%
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

html {
    font-family: "Lucida Sans", sans-serif;
}

.header {
    background-color: #9933cc;
    color: #ffffff;
    padding: 5px;
}

#header-img {
    color: white;
    padding: 80px;
    text-align: center;
    width: 100%;
    height: 400px;
    background-color: teal;
}

#header-img a {
    border-radius: 300px;
    box-sizing: border-box;
    font-weight: 600;
    font-style: normal;
    font-size: 15px;
    letter-spacing: 2px;
    padding: 1em 1.75em;
    display: inline-block;
    line-height: 1em;
    margin: 10px 0;
    color: #0a0000;
    border: 1px solid #75d3ff;
    background: #75d3ff;

}

#bar.row {
    display: flex;
    margin: 30px;
    text-align: center;
    background-color: thistle;
    border: 3px solid black;
}

#bar a:link {
    color: #0a0000;
}

#top-3 {
    display: flex;
    justify-content: space-evenly;
    margin: 30px;
}

#top-3 img {
    max-width: 100%;
    height: auto;
}

#featured {
    display: flex;
    justify-content: space-evenly;
}

#featured_products {
    display: flex;
    justify-content: space-evenly;
    margin: 30px;
}

#featured_products img {
    max-width: 100%;
    height: auto;
}

#sponsored img {
    max-width: 100%;
    height: auto;
}

#new_eng {
    text-align: center;
}

#new_eng_man_products img {
    max-width: 100%;
    height: auto;
}

#eng_man_lk {
    text-align: right;
}

#new_eng_book_products img {
    max-width: 100%;
    height: auto;
}

#eng_book_lk {
    text-align: right;
}

#new_jpn {
    text-align: center;
}

#new_jpn_man_products img {
    max-width: 100%;
    height: auto;
}

#jpn_man_lk {
    text-align: right;
}

#new_jpn_book_products img {
    max-width: 100%;
    height: auto;
}

#jpn_book_lk {
    text-align: right;
}

#bunko_products img {
    max-width: 100%;
    height: auto;
}

#bunko_lk {
    text-align: right;
}

#art_products img {
    max-width: 100%;
    height: auto;
}

#art_lk {
    text-align: right;
}

#jojo {
    text-align: center;
}

#new_jojo_products img {
    max-width: 100%;
    height: auto;
}

#jojo_lk {
    text-align: right;
}