header, main {
    margin: 15px;
}

.title {
    display: flex;
    justify-content: center;
}

.sub-title {
    display: flex;
    justify-content: center;
}

.top-nav {
    display: flex;
    justify-content: space-evenly;
    margin-right: 50px;
}

.side-nav {
    display: flex;
    flex-direction: column;
    padding: 25px;
}

@media (min-width: 600px) {
    .blog-posts {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .blog-posts>* {
        width: 65%;
        padding: 25px;
    }
}