* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    overflow: hidden;
    /* makes the body non-scrollable (we will add scrolling to the sidebar and main content containers) */
    margin: 0px;
    /* removes default style */
    display: flex;
    /* enables flex content for its children */
    box-sizing: border-box;
}

.column {
    height: 100%;
    /* allows both columns to span the full height of the browser window */
    display: flex;
    flex-direction: column;
    /* places the left and right headers above the bottom content */
}

#left {
    flex-shrink: 0;
    /* makes sure that content is not cut off in a smaller browser window */
}

.top-left {
    flex-shrink: 0;
    background-color: red;
}

.top-right {
    flex-shrink: 0;
    display: inline-flex;
    background-color: royalblue;
}

#left .bottom {
    display: flex;
    flex-direction: column;
    background-color: seagreen;
}

#right .bottom {
    background-color: yellow;
}

ul {
    display: inline-flex;
    list-style: none;
}

.bottom {
    flex-grow: 1;
    /* ensures that the container will take up the full height of the parent container */
    overflow-y: auto;
    /* adds scroll to this container */
}