<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 id="title">Title!</h1>
    <ul>
        <li class="red">Thing 1</li>
        <li class="red1">Thing 2</li>
        <li class="red1">Thing 3</li>
        <li class="red1">Thing 4</li>
    </ul>
    <button id="btn">Click me!</button>
    <input type="text" name="text" id="text">
    <form id="form">
        <input type="number" class="num" /><input type="number" class="num" />
        <button id="add-num">+</button>
        <input type="submit" value="Calculate Average" id="submitBtn" />
    </form>
    <ul id="results"></ul>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>