body {
  background-color: darkred;
  color: whitesmoke;
  font-family: Roboto, sans-serif;
}

.error-message {
  color: salmon;
}

form {
  display: inline;
}

.item {
  display: flex;
  justify-content: flex-start;
  font-family: "Libre Barcode 39 Text", monospace;
  font-size: 2.5em;
}