<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">   
    {% if title %}
      <title>Oniker - {{ title }}</title>
      {% else %}
      <title>Oniker</title>
    {% endif %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>

<body>

  <nav class="navbar is-info" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://bulma.io">
        <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="{% url 'app_posts:posts-home' %}">
          Home
        </a>
  
        <a class="navbar-item" href="{% url 'app_posts:posts-about' %}">
          About
        </a>
  
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            More
          </a>
  
          <div class="navbar-dropdown">
            <a class="navbar-item">
              About
            </a>
            <a class="navbar-item">
              Jobs
            </a>
            <a class="navbar-item">
              Contact
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item">
              Report an issue
            </a>
          </div>
        </div>
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">

          {% if user.is_authenticated %}
          <div class="buttons">
            <a class="button is-light" href="{% url 'profile' %}">
              profile
            </a>
            <a class="button is-light" href="{% url 'logout' %}">
              Log Out
            </a>
          </div>
          {% else %}
            <div class="buttons">
              <a class="button is-primary" href="{% url 'register' %}">
                <strong>Sign up</strong>
              </a>
              <a class="button is-light" href="{% url 'login' %}">
                Log in
              </a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>

  <section class="section">
    <div class="container">
    <div class="columns">
      <div class="column is-four-fifths">

        {% if messages%}
          {% for message in messages%}
          <div class="notification is-{{ message.tags }}">
            <button class="delete"></button>
            {{ message }}
          </div>
          {% endfor %}
        {% endif%}

        {% block content %}
        
        {% endblock %}
      </div>
      <div class="column">
        <div class="box">test

        </div>
        
      </div>
    </div>
  </div>
  </section>

</body>

</html>


