<!DOCTYPE html>
<!-- root element -->
<html lang="en">
  <!-- the head contains metadata about the document  -->
  <head>
    <!-- meta tags store general metadata -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- page title, the text that appears on a browser -->
    <title>Demo Page</title>
    <!-- import external css -->
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Work+Sans:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}"/>
    <!-- <link rel="stylesheet" href="/static/index.css"/> -->
  </head>
  <!-- the body contains the actual document that will be shown to the user -->
  <body>
    <header class="flex-header">
      <div>
          <h1>CITIES</h1>
          <h3>Here is where we all are!</h3>
      </div>
      <nav class="flex-header">
          <p><a href="#">Home</a></p>
          <p><a href="#">About</a></p>
          <p><a href="#">More</a></p>
          <p><a href="#">Contact Us</a></p>
      </nav>
    </header>
    <main>
      <h2>Here are some cities:</h2>
      <form action="/add/" method="post">
        <input type="number" name="add1" /> + <input type="number" name="add2" />
        <input type="submit" value="Add" />
      </form>
      <p>Hello {{name}}</p>
      {% if temperature < 50 %}
      <p>cold</p>
      {% elif temperature < 80 %}
      <p>warm</p>
      {% else %}
      <p>hot</p>
      {% endif %}
      <ul>
        {% for num in nums %}
        <li>{{num}}</li>
        {% endfor %}
      </ul>
      <div class="flex-gallery">
        <div>
            <h3>Portland, OR</h3>
            <img src="https://cdn18.picryl.com/photo/2018/01/01/aerial-view-of-downtown-portland-oregon-87670e-1024.jpg">
            <p>Gochujang banjo la croix pickled echo park dreamcatcher selfies chartreuse. Viral chillwave yuccie VHS raw denim pork belly pickled shoreditch man braid gastropub. Ramps pitchfork pour-over vaporware woke crucifix +1 sustainable health goth shaman succulents. Hashtag edison bulb messenger bag forage viral, kombucha taiyaki affogato typewriter.</p>
        </div>
        <div>
            <h3>Veneta, OR</h3>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Our_Daily_Bread_Veneta%2C_Oregon.JPG/1280px-Our_Daily_Bread_Veneta%2C_Oregon.JPG">
            <p>Selfies enamel pin franzen small batch roof party gochujang, sartorial locavore. Viral woke chambray microdosing. Banjo kickstarter biodiesel locavore, shoreditch vexillologist farm-to-table ugh man bun. Coloring book snackwave bespoke everyday carry, vexillologist irony master cleanse banh mi vice godard offal taiyaki thundercats tote bag swag.</p>
        </div>
        <div>
            <h3>Stuart, FL</h3>
            <img src="https://www.visitflorida.com/content/dam/visitflorida/en-us/images/cities/stuart/HOUSE%20OF%20REFUGE%20HUTCHINSON%20ISLAND%20STUART%203.jpg.1480.500.rendition">
            <p>Portland cornhole chambray organic tumblr vinyl cred tbh affogato blue bottle. 8-bit man braid poutine VHS, fingerstache umami yr taxidermy succulents. Austin street art disrupt everyday carry, distillery you probably haven't heard of them PBR&B glossier. Before they sold out taxidermy fanny pack offal pork belly chillwave, meditation vaporware knausgaard shabby chic tacos adaptogen air plant shoreditch. Lo-fi semiotics woke tousled cold-pressed trust fund biodiesel ethical snackwave. Distillery kinfolk whatever, truffaut yuccie fingerstache venmo microdosing skateboard. Hashtag retro actually chartreuse vinyl, kale chips artisan vice gochujang narwhal pok pok paleo tilde.</p>
        </div>
        <div>
            <h3>Bend, OR</h3>
            <img src="https://azbigmedia.com/wp-content/uploads/2020/10/bend-oregon.jpg">
            <p>Fanny pack swag hella VHS pok pok taxidermy knausgaard gastropub keffiyeh 3 wolf moon pork belly craft beer dreamcatcher DIY occupy. Jianbing synth palo santo, cronut selvage man braid af intelligentsia. Before they sold out craft beer VHS neutra scenester. Wayfarers green juice keffiyeh tattooed snackwave truffaut.</p>
        </div>
        <div>
            <h3>Beaverton, OR</h3>
            <img src="https://ssl.cdn-redfin.com/photo/84/mbpaddedwide/277/genMid.18409277_0.jpg">
            <p>Messenger bag direct trade tilde quinoa, iceland cred asymmetrical leggings hoodie. Roof party 8-bit venmo vape kale chips, trust fund coloring book subway tile direct trade hella. Sartorial stumptown gentrify microdosing gochujang, yr artisan gastropub neutra fashion axe tumeric. Whatever tattooed cloud bread man bun food truck pitchfork fanny pack tousled, chambray literally ethical meh. Retro iceland plaid truffaut. Dreamcatcher quinoa irony, copper mug taxidermy knausgaard banh mi poke microdosing synth trust fund fam biodiesel hoodie helvetica.</p>
        </div>
        <div>
            <h3>Fargo, ND</h3>
            <img src="https://www.nydailynews.com/resizer/Gi0NpcJrhbV8pZItkepvx7linNw=/800x532/top/arc-anglerfish-arc2-prod-tronc.s3.amazonaws.com/public/W7JJCIPGYHMWP7Y3KTHI6LSZSY.jpg">
            <p>Hexagon keytar fixie keffiyeh twee deep v gentrify freegan artisan chartreuse pinterest. Unicorn disrupt letterpress mustache fashion axe shoreditch wayfarers scenester literally plaid williamsburg cronut banh mi lumbersexual. Distillery activated charcoal crucifix master cleanse, mixtape you probably haven't heard of them pok pok wolf viral hell of ugh humblebrag austin. Taxidermy 3 wolf moon flannel meh leggings man bun. Narwhal flexitarian cray hashtag blog, jianbing four loko. Hammock la croix kogi single-origin coffee, hoodie +1 artisan taiyaki vegan authentic intelligentsia pop-up kale chips poutine cliche. Unicorn cold-pressed butcher kogi aesthetic.</p>
        </div>
      </div>
      <form action="" method="post">
        <h3>Give us your information:</h3>
        <input type="text" name="first" id="first" placeholder="required" required>
        <label for="first">First Name</label><br>
        <input type="text" name="last" id="last" placeholder="required" required>
        <label for="last">Last Name</label><br>
        <input type="email" name="email" id="email">
        <label for="email">Email</label><br>
        <input type="tel" name="phone" id="phone">
        <label for="phone">Phone Number</label><br>
        <input type="text" name="address" id="address">
        <label for="address">Address</label><br>
        <input type="text" name="city" id="city" placeholder="required" required>
        <label for="city">City</label>
        <select name="state" id="state">
          <option value="AL">AL</option>
          <option value="AK">AK</option>
          <option value="AR">AR</option>	
          <option value="AZ">AZ</option>
          <option value="CA">CA</option>
          <option value="CO">CO</option>
          <option value="CT">CT</option>
          <option value="DC">DC</option>
          <option value="DE">DE</option>
          <option value="FL">FL</option>
          <option value="GA">GA</option>
          <option value="HI">HI</option>
          <option value="IA">IA</option>	
          <option value="ID">ID</option>
          <option value="IL">IL</option>
          <option value="IN">IN</option>
          <option value="KS">KS</option>
          <option value="KY">KY</option>
          <option value="LA">LA</option>
          <option value="MA">MA</option>
          <option value="MD">MD</option>
          <option value="ME">ME</option>
          <option value="MI">MI</option>
          <option value="MN">MN</option>
          <option value="MO">MO</option>	
          <option value="MS">MS</option>
          <option value="MT">MT</option>
          <option value="NC">NC</option>	
          <option value="NE">NE</option>
          <option value="NH">NH</option>
          <option value="NJ">NJ</option>
          <option value="NM">NM</option>			
          <option value="NV">NV</option>
          <option value="NY">NY</option>
          <option value="ND">ND</option>
          <option value="OH">OH</option>
          <option value="OK">OK</option>
          <option value="OR" selected>OR</option>
          <option value="PA">PA</option>
          <option value="RI">RI</option>
          <option value="SC">SC</option>
          <option value="SD">SD</option>
          <option value="TN">TN</option>
          <option value="TX">TX</option>
          <option value="UT">UT</option>
          <option value="VT">VT</option>
          <option value="VA">VA</option>
          <option value="WA">WA</option>
          <option value="WI">WI</option>	
          <option value="WV">WV</option>
          <option value="WY">WY</option>
        </select>
        <label for="state">State</label>
        <input type="text" name="zip" id="zip">
        <label for="zip">Zip Code</label><br>
        <button type="submit">Submit</button>
      </form>
    </main>
    <footer>
      <p>Copyright 2021</p>
    </footer>
  </body>
</html>