html {box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
h1 {
    font-size: 2rem;
}
nav > p {
    padding: 15px;
}

nav {
    display: flex;
}
ol {text-align: center;
    background-color: #ffffff;
}
li {text-align: justify;
    background-color: #ffffff;
    list-style: square;
    list-style-position: inside;
}
body {
    background-color: #8e9394;
    font-size: 1.1rem;
}
.paragraph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #8e9394;
    font-family: Verdana, "Bitstream Vera Sans", sans-serif;
    width: 90%;
    padding: 12px;
}
/* .flex {
    background-color: #8e9394;
    font-family: Verdana, "Bitstream Vera Sans", sans-serif;
} */
.flex-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #8e9394;
    font-family: Verdana, "Bitstream Vera Sans", sans-serif;
    width: 90%;
    padding: 12px;
}
.flex-header {display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    border: .5rem solid;
    background-color: #4a525a;
    /* background-size: 80px 60px; */
    font-family: Verdana, "Bitstream Vera Sans", sans-serif;
}
.flex-footer {
    display: flex;
    flex-direction: column;
    justify-content: left;
    background-color: #4a525a;
    font-family: Verdana, "Bitstream Vera Sans", sans-serif;
    width: 100%;
    padding: 12px;
}
a {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
@media (min-width: 820px) {
    /* .flex {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    } */
    body {
        background-color: #8e9394;
        font-size: 1.5rem;
    }
    li {text-align: center;
        background-color: #ffffff;
        list-style: square;
        list-style-position: inside;
    }
    .flex-image {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 90%;
        padding: 24px;
    }
    .flex-header {
        display: flex;
        justify-content: space-evenly;
    }
    .flex-footer {
        display: flex;
        justify-content: space-evenly;
    }
}
@media (min-width: 1100px) {
    h1 {
        font-size: 2.5rem;
    }
    .paragraph {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #8e9394;
        font-family: Verdana, "Bitstream Vera Sans", sans-serif;
        width: 90%;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 24px;
        padding-right: 24px;
    }
    /* .flex > * {
        width: 100%;
    } */
}