<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>JS Page</title>
    </head>
    <body>
        <form>
            <p>First Card</p>
                <input type="radio" name="first-card" id="A" value="A"/>
                    <label for="a"><img src="/static/a.png" width="36" height="56.25" alt="A" /></label>
                <input type="radio" name="first-card" id="2" value="2"/>
                    <label for="2"><img src="/static/2.png" width="36" height="56.25" alt="2" /></label>
                <input type="radio" name="first-card" id="3" value="3"/>
                    <label for="3"><img src="/static/3.png" width="36" height="56.25" alt="3" /></label>
                <input type="radio" name="first-card" id="4" value="4"/>
                    <label for="4"><img src="/static/4.png" width="36" height="56.25" alt="4" /></label>
                <input type="radio" name="first-card" id="5" value="5"/>
                    <label for="5"><img src="/static/5.png" width="36" height="56.25" alt="5" /></label>
                <input type="radio" name="first-card" id="6" value="6"/>
                    <label for="6"><img src="/static/6.png" width="36" height="56.25" alt="6" /></label>
                <input type="radio" name="first-card" id="7" value="7"/>
                    <label for="7"><img src="/static/7.png" width="36" height="56.25" alt="7" /></label>
                <input type="radio" name="first-card" id="8" value="8"/>
                    <label for="8"><img src="/static/8.png" width="36" height="56.25" alt="8" /></label>
                <input type="radio" name="first-card" id="9" value="9"/>
                    <label for="9"><img src="/static/9.png" width="36" height="56.25" alt="9" /></label>
                <input type="radio" name="first-card" id="10" value="10"/>
                    <label for="10"><img src="/static/10.png" width="36" height="56.25" alt="10" /></label>
                <input type="radio" name="first-card" id="J" value="J"/>
                    <label for="j"><img src="/static/j.png" width="36" height="56.25" alt="J" /></label>
                <input type="radio" name="first-card" id="Q" value="Q"/>
                    <label for="q"><img src="/static/q.png" width="36" height="56.25" alt="Q" /></label>
                <input type="radio" name="first-card" id="K" value="K"/>
                    <label for="k"><img src="/static/k.png" width="36" height="56.25" alt="K" /></label>
                <p>Second Card</p>
                <input type="radio" name="second-card" id="A" value="A"/>
                    <label for="a"><img src="/static/a.png" width="36" height="56.25" alt="A" /></label>
                <input type="radio" name="second-card" id="2" value="2"/>
                    <label for="2"><img src="/static/2.png" width="36" height="56.25" alt="2" /></label>
                <input type="radio" name="second-card" id="3" value="3"/>
                    <label for="3"><img src="/static/3.png" width="36" height="56.25" alt="3" /></label>
                <input type="radio" name="second-card" id="4" value="4"/>
                    <label for="4"><img src="/static/4.png" width="36" height="56.25" alt="4" /></label>
                <input type="radio" name="second-card" id="5" value="5"/>
                    <label for="5"><img src="/static/5.png" width="36" height="56.25" alt="5" /></label>
                <input type="radio" name="second-card" id="6" value="6"/>
                    <label for="6"><img src="/static/6.png" width="36" height="56.25" alt="6" /></label>
                <input type="radio" name="second-card" id="7" value="7"/>
                    <label for="7"><img src="/static/7.png" width="36" height="56.25" alt="7" /></label>
                <input type="radio" name="second-card" id="8" value="8"/>
                    <label for="8"><img src="/static/8.png" width="36" height="56.25" alt="8" /></label>
                <input type="radio" name="second-card" id="9" value="9"/>
                    <label for="9"><img src="/static/9.png" width="36" height="56.25" alt="9" /></label>
                <input type="radio" name="second-card" id="10" value="10"/>
                    <label for="10"><img src="/static/10.png" width="36" height="56.25" alt="10" /></label>
                <input type="radio" name="second-card" id="J" value="J"/>
                    <label for="j"><img src="/static/j.png" width="36" height="56.25" alt="J" /></label>
                <input type="radio" name="second-card" id="Q" value="Q"/>
                    <label for="q"><img src="/static/q.png" width="36" height="56.25" alt="Q" /></label>
                <input type="radio" name="second-card" id="K" value="K"/>
                    <label for="k"><img src="/static/k.png" width="36" height="56.25" alt="K" /></label>
                <p>Third Card</p>
                <input type="radio" name="third-card" id="A" value="A"/>
                    <label for="a"><img src="/static/a.png" width="36" height="56.25" alt="A" /></label>
                <input type="radio" name="third-card" id="2" value="2"/>
                    <label for="2"><img src="/static/2.png" width="36" height="56.25" alt="2" /></label>
                <input type="radio" name="third-card" id="3" value="3"/>
                    <label for="3"><img src="/static/3.png" width="36" height="56.25" alt="3" /></label>
                <input type="radio" name="third-card" id="4" value="4"/>
                    <label for="4"><img src="/static/4.png" width="36" height="56.25" alt="4" /></label>
                <input type="radio" name="third-card" id="5" value="5"/>
                    <label for="5"><img src="/static/5.png" width="36" height="56.25" alt="5" /></label>
                <input type="radio" name="third-card" id="6" value="6"/>
                    <label for="6"><img src="/static/6.png" width="36" height="56.25" alt="6" /></label>
                <input type="radio" name="third-card" id="7" value="7"/>
                    <label for="7"><img src="/static/7.png" width="36" height="56.25" alt="7" /></label>
                <input type="radio" name="third-card" id="8" value="8"/>
                    <label for="8"><img src="/static/8.png" width="36" height="56.25" alt="8" /></label>
                <input type="radio" name="third-card" id="9" value="9"/>
                    <label for="9"><img src="/static/9.png" width="36" height="56.25" alt="9" /></label>
                <input type="radio" name="third-card" id="10" value="10"/>
                    <label for="10"><img src="/static/10.png" width="36" height="56.25" alt="10" /></label>
                <input type="radio" name="third-card" id="J" value="J"/>
                    <label for="j"><img src="/static/j.png" width="36" height="56.25" alt="J" /></label>
                <input type="radio" name="third-card" id="Q" value="Q"/>
                    <label for="q"><img src="/static/q.png" width="36" height="56.25" alt="Q" /></label>
                <input type="radio" name="third-card" id="K" value="K"/>
                    <label for="k"><img src="/static/k.png" width="36" height="56.25" alt="K" /></label>
                <button class="run-button" id="run-button">Get advice</button>
        </form>
        <ul id="results"></ul>
        <script src="{{ url_for('static', filename='lab02B.js') }}"></script>
    </body>
</html>