<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Average a list of numbers</title>
</head>
<body>
    <h1 id="title">An average of your list values calculator.</h1>
    <!-- <input type="text" name="text" id="text"> -->
    <form id="form">
        <input type="number" class="num" />
        <button id="add-num">Add number to list</button>
        <input type="submit" value="Calculate Average" id="submitBtn" />
    </form>
    <ul id="results"></ul>
    <script src='script_lab01_b.js'></script>
</body>
</html>