<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
    <title>JsonDB Mob Lab</title>
</head>
<body>
    <header class="flex-header">
    <h1>Your to do list!</h1>
    <h3>Learn to love it.</h3>
    </header>
    <main class="flex-main">
    <h4>Enter task to your to do list:</h4>
    <form method="post">
        <label for="thing-to-do">Enter item to your to do list:</label>
        <input type="text" id="thing-to-do" name="text">
        <label for="priority">Enter priority:</label>
        <select id="priority" name="priority">
           <option value="low">low</option>
           <option value="medium">medium</option>
           <option value="high">high</option>
       </select>
       <input type="submit" value="submit">
    </form>
    </main>
    <footer class="flex-footer">

    </footer>
</body>
</html>