<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JsonDB Mob Lab</title>
</head>

<body>
    <form method='post'>
        <ul>
            <label for="list-items">To do list:</label>

            {% for i in todo %}

            <li> {{ i['text'] }}  ({{ i['priority'] }})</li>
               
            {% endfor %}
        </ul>
    </form>
</body>

</html>