<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab 3B</title>

</head>

<body>

    <h1>Welcome to Credit Card Validator</h1>

    <form id="cardnum-form">
        <input id="cardnum" placeholder="Enter credit card number" type="password" minlength="10"  required></input>
        <button id="validate" onclick="validator()">Validate Payment</button>
    </form>

    <div id="results"></div>

    <script src="static/lab3b.js"></script>

</body>

</html>