<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jsondb Mob Lab</title>
    <link rel="stylesheet" href="static/styles.css" />
</head>
<body>
    <h1>To-Do List</h1>
    <p>Enter task to your to-do list:</p>
    <form method="post">
        <label for="thing-to-do">Enter item to your to-do list:</label>
        <input type="text" id="thing-to-do" name="text">
        <label for="priority">Enter priority:</label>
        <select id="priority" name="priority">
           <option value="low">low</option>
           <option value="medium">medium</option>
           <option value="high">high</option>
       </select>
       <input type="submit" value="submit">
    </form>
</body>
</html>