<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab02b</title>
</head>
<body>
    <h1>ROT Cipher</h1>
    <p>Enter a message that you would like encoded OR enter the encoded message that you would like decrypted.</p>
    <label for="code">Enter letters here:</label>
    <input type="text" name="code" id="code" required>
    <button id="submit">enter</button>
    <h4>Message:</h4>
    <div id="message"></div>
    <script src="./static/script.js"></script>
</body>
</html>