<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Todo List</title>
    <!-- Add your styles here! -->
    <!-- <link rel="stylesheet" href="/css/site.css" /> -->
</head>
<body>
    <div id="app-5">
        <p>Task List: {{ tasklist }}</p>
        <p>Added Task: {{ task }}</p>
        <!-- <input v-model="tasklist"> -->
        <input type="text" name="tasklist[]" v-model="tasklist" v-on:input="task">
        <button v-on:click="task">Add Task</button>
    </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app.js"></script>
</body>
</html>