<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab 1</title>

</head>

<body>

    <h1>Welcome to Blackjack Advice</h1>

    <p>The computer will give you advice on how to play Black Jack. Please choose your three cards.</p>

    <input id="first_card" type="text" placeholder="Pick your first card (A, 2, 3, 4, 5, 6, 7, 8, 9, 10, J, Q, or K): "/></br>
    <input id="second_card" type="text" placeholder="Pick your second card (A, 2, 3, 4, 5, 6, 7, 8, 9, 10, J, Q, or K): "/></br>
    <input id="third_card" type="text" placeholder="Pick your third card (A, 2, 3, 4, 5, 6, 7, 8, 9, 10, J, Q, or K): "/></br>
    <button id="submit_btn">Get Advice</button>
    <div id="advice_div"></div>
   
    <script src="static/lab1b.js"></script>

</body>

</html>