<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab 2B</title>

</head>

<body>

    <h1>Welcome to Pick 6</h1>
   
    <p>Would you like to play Pick 6?</p>
    <button id="yes_btn">Yes</button>
    <div id="chose_to_play1"></div>
    <div id="chose_to_play2"></div>
    <div id="chose_to_play3"></div>
    <div id="win_tik"></div>
    
    <button id="proceed">Proceed?</button>

    <input id="user_rounds" class="user_rounds"></input>
    <button id="submit">Submit</button>
    

    <div id="results1"></div>
    <div id="results2"></div>
    <div id="results3"></div>
    <div id="results4"></div>

    <button id="no_btn">No</button>

    <script src="static/lab2b.js"></script>

</body>

</html>