{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Chirp Thing</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<body>
    <header>
        <div class="w3-container w3-red">
            <h1 class="w3-center w3-serif"><a href="{% url 'posts_app:home' %}">The Chirp Thing</a></h1>
        </div>
        <div class="w3-bar w3-blue-grey w3-border">
            {% if user.is_authenticated %}
            <p class="w3-bar-item w3-button">Hey there, <a href="{% url 'users_app:profile' user.username %}">{{ user.username }}</a>!</p>
            <p class="w3-bar-item w3-button"><a href="{% url 'posts_app:new' %}"><i>New Chirp!</i></a></p>
            <p class="w3-bar-item w3-button"><a href="{% url 'logout' %}">Logout</a></p>
            {% else %}
            <p class="w3-bar-item w3-button"><a href="{% url 'login' %}">Login</a></p>
            <p class="w3-bar-item w3-button"><a href="{% url 'users_app:signup' %}"><i>Sign Up!</i></a></p>
            {% endif %}
        </div>
    </header>
    <div>
        <h2 class="w3-center w3-serif">are people chirping about you? share your expert opinion...</h2>
    </div>
    <div class="container">
    {% block content %}
    {% endblock content %}
    </div>
</body>
<hr>
<footer class="w3-container w3-dark-grey" style="margin-top:1rem" id="footer">
    <div class="w3-center w3-small w3-opacity">
    Chirp's first goal is to be a public friend and private enemy. Be careful what you post here. It will probably lead to the degradation of society and a breakdown of decorum between neighbors.
    </div>
</footer>
</html>