{% extends 'base.html' %}

{% block content %}

    <h1>Welcome to Chirp!</h1>

    <form action="" method="post">
        {% csrf_token %}
          {% for field in form %}
            <p>
            {{ field.label_tag }}<br>
            {{ field }}
            {% if field.help_text %}
                <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
                </p>
            {% endfor %}
        <input type="submit" value="Create Chirp Account">
    </form>

{% endblock content %}