/* Part 2
Center the entire content of the body */
body {
    text-align: center;
/* Modify the padding and margins on your paragraphs to look better */   
    margin:100px;
    padding: 200px;
/* Add a background image */ 
    background-image:	url("https://images-na.ssl-images-amazon.com/images/I/61tZGs75vDL._AC_SY741_.jpg");
    background-position: center;
/* Use a custom font */ 
    font-family: 'Open Sans', sans-serif;
    line-height: 2.0;

/* 
Part 3
Pick a color scheme and modify the background, body text, and link text color.*/
    background-color: black;
    color: rgb(237, 234, 241);
}

h1 {
    background-color: black;
    color:rgb(164, 240, 230);
}

h2 {
    background-color: black;
    background-color: rgba(0,0,0,0.5);
    color:rgb(164, 240, 230);
}
summary {
    background-color: black;
}
q {
    color:rgb(164, 240, 230);
    background-color: rgba(0,0,0,0.5);
/* Change the typeface of the quote. (bolded in html) */
}

/* Add a rounded border to the picture. */
img {
    border-radius: 25%;
    width: 50vw;
    margin-top: 100px;

}

/* Change the bullet points on the list of places. */  
ul {
    list-style-type: circle;
    margin: 0 auto;
    left: 300px;
}

li {
    text-align: left;
    background-color: rgba(0, 0, 0, 0.534);
}

#places_lived {
    text-align: left;
    background-color: rgba(0, 0, 0, 0.534);
}

#wiki_link {
    color: rgb(228, 18, 35); 
    background-color: rgba(29, 19, 19, 0.822);
}