<!-- La05 Intro to Flask

Random Password Generator
Simple version: the user just enters in the number of characters in the password
Complex version: the user enters the number of uppercase letters, lowercase letters, numbers, and special character -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab05 Flask</title>
    <link rel="stylesheet" href="static/lab05.css" />
</head>
<body>
    <form action="/" method="post">
        <label for="password">How many characters do you want your new password to be? Enter a number between 6-12</label>
        <input type="text" name="password">
        <input type="submit" value="submit">
    </form>
    <p>Your password is: {{password}}</p>
</body>
</html>