<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab 5: FavQs in Vue</title>
    <link rel="stylesheet" href="/site.css" />
</head>

<body>

    <div id="randQuotes">
        <h1>Random Quote Finder</h1>
        
        <p id="random"> 
            {{ quote }}
        </br></br>
        - {{ author }}
        </p>
    
    <button @click="randQ" id="randB">Give me a random quote</button>
    </div>

    <div id="searchQuotes">
        <h1>Custom Quote Finder</h1>
            <input type="text" id='sel' v-model="search" placeholder="Type in a search"></input>
            </br>
            <input type="radio" id='auth' value='author' v-model="sel">
            <label for="auth">Author</label>
            <input type="radio" id='key' value='key' v-model="sel">
            <label for="keyword">Keyword</label>
            <input type="radio" id='tag' value='tag' v-model="sel">
            <label for="tag">Tag</label>
            </br>
            <button @click="findQ" id='sel'>Search</button>
                <p id="disp" hidden='true'> 
                    <ul>
                        <li v-for="q in quote.quotes">
                            {{ q.body }}
                            </br></br>
                            - {{ q.author }}
                            </br></br>
                        </li>
                    </ul>

                    <div id="page" hidden="true">
                        <button @click="pageprev" id="page-prev" value="prev">Prev Page</button>
                        - {{ quote.page }} -
                        <button @click="pagenext" id="page-next" value="next">Next Page</button>
                    </div>

                </p>
    </div>



    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/site.js"></script>
</body>

</html>