body{
    background-color: #EAEAE0;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    margin: 0;
}

header{
    background-color: #1C4670;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    color: #1DC690;
    text-transform: uppercase;
    margin-bottom: 100px;
}

.container{
    width: 80%;
    margin: 0 auto;
}

section{
    float: left;
    width: 50%;
    margin-bottom: 100px;
}

.input_text_area{
    border-radius: 5px;
}

.rotate_label{
    font-size:14px;
}

input[type=text]{
    width: 10%;
}

aside{
    float: right;
    width: 50%;
}

.output_text{
    background-color: white;
    width: 100%;
    border-radius: 5px;
    padding-left: 1%;
    padding-right: 1%;
}

footer{
    background-color: #1C4670;
    clear: both;
    text-align: center;
    color:#1DC690;
    padding: 5px 0;
}