html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
}

header, footer, main {
    margin: 12px;
}

nav > p {
    padding: 8px;
}

nav {
    display: flex;
}
@media (max-width: 600px) {
    .flex-gallery {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .flex-gallery > * {
        width: 40%;
        padding: 24px;
        background-color: whitesmoke;
        text-align: justify;
    }

    .flex-header {
        display: flex;
        justify-content: space-between;
    }
      body > main > article > img {
        display: block;
        width: 50%;
        height: auto;
        margin: auto;
        border-radius: 75px;
        alignment: center;
    }

    body > main > article > p {
        text-align: justify;

    }

    header > h1 {
        display: flex;
        font-size: xxx-large;
    }

    header > h2 {
        display: flex;
        font-size: large;
    }

    header > p {
        display: flex;
    }
}


@media (min-width: 600px) {
    .flex-gallery {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .flex-gallery > * {
        width: 30%;
        padding: 24px;
        background-color: whitesmoke;
        text-align: justify;
    }

    .flex-header {
        display: flex;
        justify-content: space-between;
    }
      body > main > article > img {
        display: flex;
        width: 60%;
        height: auto;
        margin: auto;
        border-radius: 75px;
        align-content: center;
    }

    body > main > article > p {
        text-align: justify;

    }

    header > h1 {
        display: flex;
        font-size: xxx-large;
    }

    header > h2 {
        display: flex;
        font-size: large;
    }

    header > p {
        display: flex;
    }
}

@media (min-width: 1100px) {
    .flex-gallery > * {
        width: 33.333%;
    }
}
