body > main > article > img{
    width: 25%;
    height: auto;
    border-radius: 75px;

}
body > main > article >  p{

}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.flex-header{
    display: flex;
    justify-content: space-between;
}


