
.header {
    grid-area: 1 / 1 / 2 / 4;
}
.nav {
    grid-area: 2 / 1 / 3 / 4;
    background-color: #1e1e24;
    padding: 5px;
    text-align: center;
}

.blog1 {
    grid-area: blog1;
    padding: 5px;
}
.blog2 {
    grid-area: blog2;
    padding: 5px;
}
.blog3 {
    grid-area: blog3;
    padding: 5px;
}
.blog4{
    grid-area: blog4;
    padding: 5px;
}
.blog5 {
    grid-area: blog5;
    padding: 5px;
}
.blog6 {
    grid-area: blog6;
    padding: 5px;
}
.footer {
    grid-area: 5 / 1 / 6 / 4;
    padding: 5px
}
section h3 {
    text-align: center;
}
section img {
    border-radius: 50%;
    display: block;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}
.nav ul li {
    list-style-type: none;
    display: inline;
    padding: 20px;
}

.nav ul li a:link, .nav ul li a:visited, .nav ul li a:active {
    color: white;
    text-decoration: none;
}

.nav ul li a:hover {
    color: white;
    background-color: blue;
}

@media only screen and (min-width: 640px){
    .parent {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: .5fr .2fr repeat(2, 1fr) .2fr;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        border: #1e1e24;
    }
    .main{
        grid-area: 3 / 1 / 5 / 4;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
                "blog1 blog2 blog3"
                "blog4 blog5 blog6";
    }
}

@media only screen and (max-width: 640px) {
    .parent {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: .5fr .2fr repeat(2, 1fr) .2fr;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }

    .main {
        grid-area: 3 / 1 / 5 / 4;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-areas: "blog1"
                             "blog2"
                             "blog3"
                             "blog4"
                             "blog5"
                             "blog6";
        justify-items: end;
        grid-auto-rows: fit-content(100%);
    }

    section img {
        border-radius: 50%;
        display: block;
        width: 50px;
        height: 50px;
        margin-left: auto;
        margin-right: auto;
    }
}