* {
    padding: 5px;
}


.flex-wrapper{
    display: flex;
    flex-wrap: wrap;
}

.flex-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

}
.flex-title{
    width: 70%;
    flex-wrap: wrap;
}

.flex-nav{
    display: flex;
    width: 30%;
    justify-content: flex-end;
    flex-direction: row;
}

@media screen and (max-width: 640px) {
    .flex-wrapper {
        display: block;
    }
    .flex-header{
        display: block;

    }
    .flex-nav{
        display: flex;


    }
}