<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>Lab07 Pokedex</title>
</head>
<body>
    <div id="app">
    {% csrf_token %}

        {% if user.is_authenticated %}
        <h1>Welcome, {{ user.username }}!</h1>
        <p><a href="{% url 'logout' %}">Logout</a><p>
        {% else %}
        <h1>Welcome, visitor!</h1>
        <p>You are not logged in. <a href="{% url 'login' %}">Login</a> <a href="{% url 'users:signup' %}">Sign Up</a></p>
        {% endif %}
        <div v-for="poke in pokemon" class="m-10">
            <ul>
                <h3 class="font-bold mt-20">Pokemon: [[ poke.name ]]</h3>
                <li>Height: [[ poke.height ]]</li>
                <li>Weight: [[ poke.weight ]]</li>
                <img :src="poke.image_front" class="inline-block">
                <img :src="poke.image_back" class="inline-block"><br>
                <button @click="addUser(poke.id)" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Add to Collection</button>
            </ul>
                <h3 class="underline">Types:</h3>
            <ul v-for="type in poke.type_detail">
                <li class="list-disc">[[ type.type ]]</li>
            </ul>
            <h3 class="underline">Caught by:</h3>
            <ul v-for="trainer in poke.caught_by_users">
                <li class="list-disc">[[ trainer.username ]]</li>
                <button v-if="trainer.username == user.username" @click="removeUser(trainer.id)" class="inline-block bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Remove From Collection</button>
            </ul>
    
        </div>
    </div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue"></script>
<script>
    new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data: {
            user: '',
            pokemon: [],
            csrf_token: document.querySelector("input[name=csrfmiddlewaretoken]").value,
            caughtList: [],
        },
        methods: {
            getCurrentUser: function() {
                axios({
                method: 'get',
                url: '/api/v1/currentuser/'
            }).then(response => {
                this.user = response.data
                this.caughtList = this.user.caught
            })
            },
            loadPokemon: function() {
                axios({
                    method: 'get',
                    url: '/api/v1/pokemon/',
                }).then(response => {
                    this.pokemon = response.data
                })
            },
            addUser: function(pokemon_id) {
                let newList = []
                
                for (let i=0; i < this.caughtList.length; i++) {
                    newList.push(this.caughtList[i])
                }
                newList.push(pokemon_id)
                console.log(newList)
                axios({
                    method: 'patch',
                    url: `/api/v1/users/${this.user.id}/`,
                    headers: {
                        'X-CSRFToken': this.csrf_token
                    },
                    data: {
                        'caught': newList
                    }
                }).then(response => {
                    this.loadPokemon()
                    this.getCurrentUser()
                })

                
            },
            removeUser: function(pokemon_id) {
                console.log(pokemon_id)
                let pokemon = this.caughtList.indexOf(pokemon_id);
                this.caughtList.splice(pokemon, 1)
                axios({
                    method: 'patch',
                    url: `/api/v1/users/${this.user.id}/`,
                    headers: {
                        'X-CSRFToken': this.csrf_token
                    },
                    data: {
                        'caught': this.caughtList
                    }
                }).then(response => {
                    this.loadPokemon()
                })
            }
        },
        mounted: function() {
            this.loadPokemon()
            axios({
                method: 'get',
                url: '/api/v1/currentuser/'
            }).then(response => {
                this.user = response.data
                this.caughtList = this.user.caught
            })
        }
    })
</script>
</body>
</html>