<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab07 Pokedex</title>
</head>
<body>
    <div id="app">
    {% csrf_token %}
        {% if user.is_authenticated %}
        <h1>Welcome {{ user.username }}!</h1>
        <p><a href="{% url 'logout' %}">Logout</a><p>
        {% else %}
        <h1>Welcome, visitor!</h1>
        <p>You are not logged in. <a href="{% url 'login' %}">Login</a> <a href="{% url 'users:signup' %}">Sign Up</a></p>
        {% endif %}
    <ul v-for="poke in pokemon">
        <li>Pokemon: [[ poke.name ]]</li>
        <li>Height: [[ poke.height ]]</li>
        <li>Weight: [[ poke.weight ]]</li>
        <li>[[ poke.image_front]], [[ poke.image_back ]]</li>
        <li>Types: </li>
    </ul>
    </div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue"></script>
<script>
    let app = new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data: {
            pokemon: [],
            csrf_token: document.querySelector("input[name=csrfmiddlewaretoken]").value,
        },
        methods: {
            loadPokemon: function() {
                axios({
                    method: 'get',
                    url: '/api/v1/pokemon/',
                }).then(response => {
                    this.pokemon = response.data
                    console.log(this.pokemon)
                })
            }
        },
        mounted: function() {
            this.loadPokemon()
        }

    })
</script>
</body>
</html>