<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab06 Mini-Capstone: Currency Converter</title>
</head>

<body>
    <div id="app">
        <h1>Currency Converter</h1>
        <form @submit.prevent="getCurrency()">
            <label for="amount">Amount: </label>
            <input v-model="amount" type="number" name="amount" id="amount" required>
            <label for="from">From: </label>
            <input v-model="unitsIn" type="text" name="from" id="from" placeholder="USD" required>
            <label for="to">To: </label>
            <input v-model="unitsOut" type="text" name="to" id="to" placeholder="EUR" required>
            <button type="submit">Convert</button>
        </form>
        <!-- <p>{{ conversion }}</p>
        <button @click="clear()">Clear</button> -->
    </div>
    <script src="//cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="site.js"></script>
</body>

</html>