<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>JS Page</title>
    </head>
    <body>
        <form>
            <p>Enter your credit card number for verification:</p>
            <textarea id="textarea" name="textarea" rows="1" cols="16" placeholder="4556737586899855" required></textarea>
        </form>
        <button class="run-button" id="run-button">Verify</button>
        <script src="{{ url_for('static', filename='lab03B.js') }}"></script>
    </body>
</html>