<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CC</title>
    </head>
    <body>
        <form>
            <text>Enter your credit card number for verification:</text><br>
            <textarea id="user-input" name="user-spot" rows="1" cols="16" placeholder="4556737586899855"></textarea>
            <button class="run-button" id="run-btn">Verify</button>
        </form>
        <script src="{{ url_for('static', filename='lab03B.js') }}"></script>
    </body>
</html>