<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hello, world!</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />

  <link rel="stylesheet" href="/static/project_boxy/main.css">
</head>
<body>
  <!-- Header start -->
  <header class="container-banner-top">

      <!-- Logo and Name. Link back to the homepage. -->
      <aside class="logo_name">
        <img src="media/logo.png" alt="logo">
        <h1>Boxy</h1>
      </aside>

      <!-- Search Bar -->
      <div class="search">
        <input type="text" name="search" value="Search Box">
      </div>

      <!-- Navigation links -->
      <div class="nav">
        <nav>
          <ul>
            <li>Home</li>
            <div class="dropdown">
              <button onclick="dropDownFunction()" class="dropbtn">Pools</button>
              <div id="poolsDropDown" class="dropdown-content">
                <a href="#">Live Pools</a>
                <a href="#">Upcoming Pools</a>
                <a href="#">My Pools</a>
                <a href="#">Closed Pools</a>
              </div>
            </div>
            <li>Settings</li>
          </ul>
        </nav>
      </div>

  </header>




  <!-- Scripts -->
  <script>
  /* When the user clicks on the button,
  toggle between hiding and showing the dropdown content */
  function dropDownFunction() {
    document.getElementById("poolsDropDown").classList.toggle("show");
  }

  // Close the dropdown if the user clicks outside of it
  window.onclick = function(event) {
    if (!event.target.matches('.dropbtn')) {
      var dropdowns = document.getElementsByClassName("dropdown-content");
      var i;
      for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
          openDropdown.classList.remove('show');
        }
      }
    }
  }
  </script>
  <!-- Include Vue from a CDN of your choice, I chose unpkg -->
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!-- Include your code here... -->
  <script src="/static/vue.js"></script>
</body>
</html>
