<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../lab05.css" />
  <title>Cypher Page</title>
</head>

<body>
  <main>
    <h1>Secret Message Giver Outer</h1>
    <br> <br> <br>
    <h4>Type your secret below!</h4>
    <!-- what words are arbitrary, which are functional? -->
    <form action="" method="post">
      <input type="string" name="secret" />
      <input type="submit" value="Tell Me A Secret!" />
    </form>
    <br> <br> <br>
    <div>

      <h2>Your encoded message is:</h2>
      <p>{{encoded_message}}</p>

    </div>
  </main>
</body>


</html>