<html>
    <head>
    <Meta>
        <title>Flask html lab</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
    </head>
    <body>
        <header>
            <h1>This is a simple unit converter.</h1>
        </header>
        <main>
        <p>Unit converter.</p>
        <form action="" method="post">
            <select name="input-unit" id="input-unit">
                <option value="mm">Millimeters</option>
                <option value="cm">Centimeters</option>
                <option value="m">Meters</option>
                <option value="km">Kilometers</option>
                <option value="in">Inches</option>
                <option value="ft">Feet</option>
                <option value="mi">Miles</option>
            </select>
            <label for="unit_type">Type of units</label><br>
            <input type="number" name="num_of_units" id="number_of_units"/>
            <label for="number_of_units">Enter number of units</label><br>
            <select name="output-unit" id="output-unit">
                <option value="mm">Millimeters</option>
                <option value="cm">Centimeters</option>
                <option value="m">Meters</option>
                <option value="km">Kilometers</option>
                <option value="in">Inches</option>
                <option value="ft">Feet</option>
                <option value="mi">Miles</option>
            </select>
            <label for="output_units">Output units</label><br>
            <input type="submit" value="submit">
        </form>
        </main>
        <footer>
            
        </footer>
    </body>
</html>