<html>
    <head>
    <Meta>
        <title>Flask html lab</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
    </head>
    <body>
        <header>
            <h1>This is a simple unit converter.</h1>
        </header>
        <main>
        <p>Unit converter.</p>
      
        <h3>{{ user_dict['num_of_units'] }}{{ user_dict['input-unit'] }} converted to {{ user_dict['output-unit'] }} is {{ output }}{{ user_dict['output-unit'] }}</h3>
        </main>
        <footer>
            
        </footer>
    </body>
</html>