*{
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
}

header{
  display: flex;
  flex-direction: row;
  background-color: #0C1120;
  height: 7vh;
}

footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  background-color: #0C1120;
  height: 5vh;
}

.container-banner-top {
  /* height: 105px; */
  width: 100%;
}

.banner-left-side{
  display: flex;
  flex-direction: row;
  width: 60%;
}

#logo{
  height: 7vh;
}

#name{
  display: flex;
  justify-content: flex-end;
  align-items:center;
  color: #ffffff;
  font-size: 40px
}

.banner-right-side{
  display: flex;
  flex-direction: row;
  width: 40%
}

.nav{
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border: 1px solid green;
  justify-content: space-between;
  padding-right: 5px
}

a{
  color: white;
}

#footer-credits{
  color: white
}

main{
  width: 100%;
  height: 88vh;
}

.login-container{
  background-color: red
}

#app{
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 10fr 1fr;
    background-color: pink;
}

.pools-side-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.pools-items{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-mid-container{
  display: grid;
  grid-template-rows: 2fr 10fr;
  background-color: grey;
  height: 100%;
}

.main-mid-container .mid-header{
  background-color: blue;
}

.main-mid-container .mid-square{
  display: grid;
  grid-template-rows: 2fr 10fr;
  border: 1px solid red;
}

.mid-square .square-container{
  display: grid;
  grid-template-columns: 1.25fr 10fr;
  border: 1px solid blue;
}

.square-container .square-side{
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.square-side .side-values{

}

.square-grid {
  display: grid;
  grid-template-columns: repeat(10, auto);
  grid-template-rows: repeat(10, auto);
  background-color: #2196F3;

}

.square-grid .square-units {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  text-align: center;
}

#grid-button{
  height: 100%;
  width: 100%;
  border-radius: 0px;
}
