html {
  font-family: 'Indie Flower', cursive;
  background-color: #81ABBC;
},

table {
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  border-collapse: collapse;
  width: 100%;
},

th {
  border: 10px solid #e5c1bd;
  text-align: center;
  padding: 0px
},

td {
  border: 10px solid #e5c1bd;
  text-align: center;
  padding: 4px;
},

tr:nth-child(even) {
  border: 10px solid #e5c1bd;
  text-align: center;
  padding: 4px;
  background-color: #e5c1bd;
},

.fa-trash{
  color: #774A62;
},

.add_item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
},
