body {
    display: grid;
    grid-template-columns: 35% 40% 25%;
    margin: 0;
    background-color: firebrick;
}
header {
    grid-column: 1/4;
    font-family: 'Kirang Haerang', cursive;
    background-color: gold;
    font-size: 2em;
    text-align: center;
    color: firebrick;
}
#baby {
    grid-column: 1/2;

}
#order, form {
    font-family: 'Kirang Haerang', cursive;
    text-align: center;
}
footer {
    background-color: gold;
    color: firebrick;
    font-family: 'Kirang Haerang', cursive;
    text-align: center;
    grid-column: 1/4;
}