/* #F2357B pink*/
/* #BF4BAC purple*/
/* #8BD1D9 blue*/
/* #E4D731 yellow*/
/* #F8F8F8 */

/* @import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;400&display=swap');

* {
    font-family: 'Montserrat Alternates', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
}
header {
    background-color: #8BD1D9;
    padding-bottom: 20px;
}

body {
    min-height: 100vh;
    background: #8BD1D9;
    margin: 0;
    min-height: 100%;
}

.navigation {
    position: fixed;
    width: 60px;
    height: 100%;
    background: #BF4BAC;
    transition: 0.5s;
    overflow: hidden;
    box-shadow: 20px 20px 20px;
}

.navigation:hover,
.navigation.active {
    width: 300px
}
.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.navigaion ul li {
    position: relative;
    width: 100%;
    list-style: none;
    transition: 0.8s;
}
li:hover {
    background-color: #F2357B;
    transition: 0.8s;
}
.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;  
    color: #FFF;
}
.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.navigation ul li a .icon .fa {
    font-size: 24px;
}
.navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}
header {
    background: #E4D731;
}
main {
    /* width: 90vw;
    margin: 0 auto;
    padding: 30px 20px; */
    min-height: calc(80vh - 116.8px - 22px);
}
.toggle {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    position: fixed;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background: #BF4BAC;
    cursor: pointer;
}
.toggle:hover {
    background: #F2357B;
    transition: 0.8s;
}
.toggle.active {
    background: #F2357B;
    transition: 0.8s;
}

.toggle:before {
    content: '\f0c9';
    font-family: fontAwesome;
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 60px;
    text-align: center;
    font-size: 24px;
    color: #FFF;
    box-shadow: 10px 20px 20px black;
}
.toggle.active:before {
    content: '\F00d'
}

nav {
    display: flex;
    justify-content: flex-end;
}
nav > p {
    font-size: 25px;
    padding: 1rem;
    margin-top: 0;
    padding-top: 0;
}
/* .container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 24px;
} */
body > footer {
    border-top: 2px solid #E4D731;
    padding: 0;

}
p {
    margin: 0 0 1.15em;
}
.flex-header {
    display: flex;
    justify-content: center;
    color: #BF4BAC;
    box-shadow: 20px 20px 20px black;
    margin-bottom: 50px;
}
.flex-gallery {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding-top: 24px;
    /* color: #BF4BAC; */
}
    /* margin-left: 70px;
    margin-right: auto;
    text-align: center; */

.flex-footer {
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    height: 15px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding-top: 20px;
}
.img-span {
    display: flex;
    justify-content: center;
}
img {
    display: block;
    size: 100%;
    max-width: 100%;
    box-shadow: 30px 20px 20px;
}
main > img {
    margin-top: 40px;
    margin-bottom: 50px;
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 12px;
    padding-left: 55px;
    /* margin-top: 0;
    line-height: .01; */
}