* {
    margin: 0;
    padding: 0;
}
html {
    background-color: lightgrey;
}
header {
    background-color: violet;
}
.flex-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
h4 {
    padding: 2rem;
}