html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.item {
  /* width: 20% */
}

nav {
  width: 25%;
}

main {
  width: 75%;
}
