<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


</head>

<body>
    <div class="row">
        {% for post in posts %}
        <div class="col s12 m6 l3">
            <div class="card">
                <div class="card-image">
                    <img src="{{post.image}}">
                    <span class="card-title">{{post.title}}</span>
                </div>
                <div class="card-content">
                    <p>{{ post.preview }}</p>
                </div>
                <div class="card-action">
                    <a href="#">View Post</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>