<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index</title>
  <link rel="preconnect" href="https://fonts.gstatic.com"> 
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Work+Sans:wght@600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}"/>
</head>
<body>
  <header>
    <h1>Rot Encrypter</h1>
  </header>
  <main>
    <form action="/" method="POST">
      <div class="taco">
        <div>
          <label for="input_text">Text to encrypt:</label><br>
          <input type="text" name="input_text" id="input_text" placeholder="required" required><br>
        </div>
        <div>
          <label for="rot">Rotate by __ places:</label>
          <select name="rot" id="rot">
            <option value=1  >1</option>
            <option value=2  >2</option>
            <option value=3  >3</option>
            <option value=4  >4</option>
            <option value=5  >5</option>
            <option value=6  >6</option>
            <option value=7  >7</option>
            <option value=8  >8</option>
            <option value=9  >9</option>
            <option value=10  >10</option>
            <option value=11  >11</option>
            <option value=12  >12</option>
            <option value=13  >13</option>
            <option value=14  >14</option>
            <option value=15  >15</option>
            <option value=16  >16</option>
            <option value=17  >17</option>
            <option value=18  >18</option>
            <option value=19  >19</option>
            <option value=20  >20</option>
            <option value=21  >21</option>
            <option value=22  >22</option>
            <option value=23  >23</option>
            <option value=24  >24</option>
            <option value=25  >25</option>
          </select><br>
        </div>
        <button type="submit">Encrypt</button>
      </div>
    </form>
  </main>
</body>
</html>