<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog</title>
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>
    {% csrf_token %}
    <div id="app">
        <ul>
            <h1>Django Rest Framework Blog!</h1>
            <h5>Hello [[ currentUser.username ]]!</h5>
            <li v-for="post in posts" :key="post.id">
                <h3>[[ post.title ]]</h3>
                <h4>[[ post.author_detail.username ]]</h4>
                <h4>[[ post.created ]]</h4>
                <p>[[ post.body ]]</p>
            </li>
        </ul>
        <div>
            <input type="text" placeholder="Title" v-model="newPost.title"><br>
            <template v-if="postErrors.title">
                <p class="error" v-for="error in postErrors.title">[[ error ]]</p>
            </template>
            <!-- <select v-model="newPost.author">
                <option v-for="user in users" :key="user.id" :value="user.id">[[ user.username ]]</option>
            </select><br>
            <template v-if="postErrors.author">
                <p class="error" v-for="error in postErrors.author">[[ error ]]</p>
            </template> -->
            <textarea placeholder="Post" v-model="newPost.body"></textarea><br>
            <template v-if="postErrors.body">
                <p class="error" v-for="error in postErrors.body">[[ error ]]</p>
            </template>
            <button @click="createPost">New Post</button>
        </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script>
    let app = new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data: {
            posts: [],
            users: [],
            newPost: {
                "author": "",
                "title": "",
                "body": ""
            },
            csrf_token: "",
            postErrors: {},
            currentUser: {}
        },
        methods: {
            loadPosts: function() {
                axios({
                    method: 'get',
                    url: '/api/v1/posts/'
                }).then(response => {
                    this.posts = response.data
                })
            },
            createPost: function() {
                axios({
                    method: 'post',
                    url: '/api/v1/posts/',
                    headers: {
                        'X-CSRFToken': this.csrf_token
                    },
                    // data: this.newPost
                    data: {
                        "author": this.currentUser.id,
                        "title": this.newPost.title,
                        "body": this.newPost.body
                    }
                }).then(response => {
                    this.loadPosts()
                    this.postErrors = {}
                    this.newPost = {
                        "author": "",
                        "title": "",
                        "body": ""
                    }
                }).catch(error => {
                    if (error.response.status === 400) {
                        this.postErrors = error.response.data
                    }
                })
            },
            loadUsers: function() {
                axios({
                    method: 'get',
                    url: '/api/v1/users/'
                }).then(response => {
                    this.users = response.data
                })
            },
            loadCurrentUser: function() {
                axios({
                    method: 'get',
                    url: '/api/v1/currentuser/'
                }).then(response => {
                    this.currentUser = response.data
                })
            }
        },
        created: function() {
            this.loadPosts()
            this.loadUsers()
            this.loadCurrentUser()
        },
        mounted: function() {
            this.csrf_token = document.querySelector('input[name="csrfmiddlewaretoken"]').value
        }
    });
    </script>
  </body>
</html>