{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit URL page</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{% static 'url_shortener_app/style.css' %}">
</head>
<body>
    <h1 class="w3-margin-right w3-padding-16" id="leftmargin">Enter a long url into the shortener machine!</h1>
    <form action="{% url 'url_shortener_app:new_url' %}" method="post" id="leftmargin">
    {% csrf_token %}
            <input name="new_url"/>
        <button type="submit">submit</button>
    <br><br>
    </form>
</body>
</html>