* {
    background-color: rgb(50, 89, 89);
    font-style: normal;
    font-family: 'Encode Sans SC', sans-serif;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    color: aliceblue;
    box-shadow: inset 0 0 5rem rgba(60, 60, 60, 0.5);
}
div {
    margin: 20px;
}
div .step {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    size: 10px;
    margin: 5px;
    box-shadow: inset 0 0 5rem rgba(93, 92, 92, 0.5);

}
input {
    margin: 10px;
    align-items: center;
}
h1 {
    text-align: center;
    color: whitesmoke;
}
h2 {
    text-align: center;
    color: gray;
}
table {
    table-layout: auto;
    margin-left: auto;
    margin-right: auto;
}
#overview {
    text-align: center;
}