body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    border-style: solid;
    border-color:rgb(165, 145, 29);
    background: #564eb1;
}
a:link {
    color: white;
  }
  /* visited link */
  a:visited {
    color: purple;
  }
  /* mouse over link */
  a:hover {
    color: hotpink;
  } 
  /* selected link */
  a:active {
    color: forestgreen;
  }
body .header {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 10px;
    flex-wrap: wrap;
    justify-content: center;
}
/* .fas {
    display: flex;
    justify-content: center;
} */
.title {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-style: oblique;
    height: 200px;
}
.title2 {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    height: 50px;
}
.topnav {
    display: flex;
    padding: 15px;
    font-size: 1.2rem;
    font-size: small;
    justify-content: center;
}
.side-nav {
    display: flex;
    width: auto;
    position: fixed;
    z-index: 1;
    top: auto;
    left: 10px;
    background: #7e7e80;
    overflow-x: hidden;
    padding: 8px 0;
}
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    display: block;
}
.sidenav a:hover {
    color: #064579;
}
.blogs {
    display: flex;
    flex-direction: column;
}
.blog-title {
    display: flex;
    padding: 5px;
    background: #564eb1;
    color: rgb(165, 145, 29);
    justify-content: center;
    border-style: solid;
    border-color:rgb(165, 145, 29);
}
.sections {
    text-align: center;
    color: #564eb1;
    background:rgb(165, 145, 29);
    border-style: solid;
    border-color:#564eb1;
}
.articles {
    text-align: center;
    background: #7e7e80;
    font-size: 1rem;
    border-style: solid;
    border-color:#564eb1;
}
footer {
    background: #564eb1;
    font-size: small;
    color: rgb(165, 145, 29);
    text-align: right;
    border-style: solid;
    border-color:rgb(165, 145, 29);
}
@media screen and (min-width: 767px) {
    .side-nav {
        background: #7e7e80;
        border: #564eb1;
        position: fixed;
        top: 150px;
        left: 10px;
        width: 130px;

    }
    .blogs {
        flex-direction: row;
    }
    .title {
        font-size: 2rem;
    }
    .title2 {
        font-size: 1.5rem;
    }
}
@media screen and (min-width: 980px) {
    .side-nav {
        background: #7e7e80;
        border: #564eb1;
        position: fixed;
        top: 150px;
        left: 10px;
        width: 130px;

    }
    .blogs {
        flex-direction: row;
    }
    .title {
        font-size: 3rem;
    }
    .title2 {
        font-size: 2rem;
    }
}