@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box
}


/* This applies from 600px onwards*/
body {
    background: red;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none
}

.navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block
}

.navbar-links li:hover {
    background-color: #555;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px
}

/* This applies from 600px below */
@media (max-width: 600px) {
    body {
        background: green;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar-links li {
        text-align: center
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

    .hero {

        display: flex;
        flex-direction: column;
        height: 40rem;
    }

    .company-logo {

        display: flex;
        justify-content: center;
        width: 100%;
        flex-grow: 1;
    }
    .cta{
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        align-items: center;

    }

    .cta-buttons{
        background-color:blue;
        flex-grow: 2;
        display: grid;
        grid-template-columns: auto auto
        
    }
}