html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

* {
    font-family: 'Aref Ruqaa', serif;
    padding-left: 18px;
    padding-right: 16px;
    background-color: black;
    color: white;
}

body {
    margin: -75px;
}

a{
    color:burlywood;
}

header {
    margin-top: 100px;
    text-align: center;
    color:cornflowerblue;
    font-size: 33px;
}

h1 {
    font-size: 50px;
}

nav {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    font-size: 24px;
}

nav > a {
    margin: 0 15px;
    text-align: left;
}

img {
    width: 20rem;
    padding: 12px;
}

article {
    display: flex;
    flex-direction: column;
    padding: 13px 10px;
    margin-top: 75px;
}

h3 {
    margin: 8px auto;
    color:cornflowerblue;
    font-size: 22px;
}

h4 {
    color:cornflowerblue;
    font-size: 24px;
}

article > img {
    margin: 0 auto;
}

summary {
    text-align: right;
    list-style: none;
    color: white;
    padding-bottom: 50px;
}

p {
    text-align: right;
    font-family: 'Mirza', cursive;
    font-size: 18px
}

main {
    padding-bottom: 120px;
}

footer {
    display: none;
}

.side_header {
    text-align: center;
    font-family: 'Tajawal', sans-serif;
    color:cornflowerblue;
    font-size: 20px;
}

.side_nav {
    display: none;
    font-family: 'Roboto', sans-serif;
}
 
@media (min-width: 750px){
    .side_nav {
        display: block;
    }
    
    #flex_container {
        display: flex;
        flex-direction: row-reverse;
    }
}

@media (min-width: 1000px){
    footer {
        display: block;
        font-family: Arial, Helvetica, sans-serif;
        font-size: small;
        margin: 5px;
        text-align: right;
    }
}
