body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    border-style: solid;
    border-color:rgb(165, 145, 29);
}
header {
    display: flex;
    flex-direction: column;
    padding: 5px;
    background: #564eb1;
    color: rgb(165, 145, 29);
    justify-content: center;
}
.title {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-style: oblique;
    height: 200px;
}
.title2 {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    height: 50px;
}
.topnav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #564eb1;
    padding: 10px;
    font-size: 1rem;
}
nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background: #564eb1;
    border: #7e7e80 ;
    width: 25%;
    float: right;
}
.header {
    display: flex;
    flex-direction: column;
    padding: 5px;
    background: #564eb1;
    color: rgb(165, 145, 29);
    justify-content: center;
    border-style: solid;
    border-color:rgb(165, 145, 29);
}
section {
    text-align: center;
    color: #564eb1;
    background:rgb(165, 145, 29);
    border-style: solid;
    border-color:#564eb1;
}
article {
    text-align: center;
    background: #7e7e80;
    font-size: 1rem;

}
footer{
    background: #564eb1;
    font-size: small;
    color: rgb(165, 145, 29);
    text-align: right;
    border-style: solid;
    border-color:rgb(165, 145, 29);
}
@media screen and (min-width: 767px) {
    nav {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        background: #564eb1;
        border: #7e7e80 ;
        width: 25%;
        float: right;
    }
}
@media screen and (min-width: 980px) {

}